<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyDiaryApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyDiaryApplication.Properties.Settings>
            <setting name="SelectedIndexBackground" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="YearSavingData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MonthSavingData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DaySavingData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsDateByDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </MyDiaryApplication.Properties.Settings>
    </userSettings>
</configuration>